<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <strong>Stone Hen Software</strong> is a company that makes incredible software for a newly mobilized web. Visit us at <a href="http://www.stonehen.com/">stonehen.com</a>.
</p>