<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <strong>app</strong>contraption is a company that makes incredible software for a newly mobilized web. Visit us at <a href="http://www.appcontraption.com/">appcontraption.com</a>.
</p>