<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Your service provider should have already set you up with a user name and password. Overall, the program is extremely user friendly. If you need more assistance, please <%= link_to('contact us', contact_path) %>.
</p>