<div class="center hero-unit">
  <h1>Welcome to <span style="color:black">app</span>contraption.</h1>

  <h2>
    <strong>app</strong>contraption allows you to modify your <strong>app</strong>tributes in realtime.
  </h2>

	<%= link_to "Sign up now!", signup_path, 
                              class: "btn btn-large btn-primary" %>
</div>