<li class="gadget">
	<%= render 'gadgets/icon', gadget: gadget %>
  <%= link_to gadget.name, gadget_path(gadget) %>
  | <%= link_to "Delete", gadget, method: :delete,
                                  data: { confirm: "You absolutely sure?" } %>
</li>
