	<span style="height:100px"><% if !gadget.icon.blank? %>
		<%= image_tag gadget.icon.thumb('100x100#').url %>
  <% else %>
 		<%= link_to image_tag('gadgets/'+gadget.gadget_type.name+'.png'), gadget_path(gadget) %>
 	<% end %></span>