<h3 style="display:inline">Menu Categories </h3>(drag <%= image_tag 'up_and_down_small.png', size:'10x10' %> to change order)
<% if @menu_categories.any? %>

	<%= render '/menu_categories/sortable_menu_categories', menu_categories: @menu_categories %>

<!--   <ul class="menu-categories">
    <%= render @menu_categories %>
  </ul> -->
<% end %>
<div class="add-link">
  <%= link_to "Add Menu Category", :action => "add_menu_category" %>
</div>
