<li class="app">
  <%= render 'apps/icon', app: app %>
  <%= link_to app.name, app_path(app) %>
  <% if current_user.admin? %>
  <div style="float:right"><%= link_to image_tag('delete_small.png'), app, method: :delete,
                                  data: { confirm: "Are you absolutely sure?" } %></div>
  <% end %>
</li>

