<footer class="footer">
  <small>
    <a href="http://www.appcontraption.com/"><strong>app</strong>contraption</a>
    Copyright (C) 2013 <strong>app</strong>contraption.com. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.appcontraption.com/feed">News</a></li>
    </ul>
  </nav>
</footer>